/* .demo{
    color: #3f51b5;
    
}
.mat-icon{
    color: red;
}

.demo {

    transform: scale(1.03);
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
} */

/* Styling for Add Doctor card */
.add-doc {
    background-color: #42a5f5;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    
}
.container { margin-left: 700px; justify-content: center; }


.demo{
    justify-content: center;
    align-items: center;
    
}
.add-doc:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for Doctors Information table */
.table {
    width: 100%;
    margin-top: 20px;
    font-size: 0.85rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
}

.table th,
.table td {
    text-align: left;
}

.table th {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f1f1f1;
    color: #424242;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td {
    padding: 12px 15px;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Styling for Action column */
mat-icon {
    font-size: 1.3rem;
    color: #757575;
}

mat-icon:hover {
    color: #424242;
}

mat-menu {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
}

mat-menu-item {
    display: flex;
    align-items: center;
}

mat-menu-item:hover {
    background-color: #f1f1f1;
}

span {
    margin-left: 10px;
}