<!-- <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Home - Start Bootstrap Template</title>
    
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/styles.css" rel="stylesheet" />
</head> -->

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">Health Management App </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
                    
                    <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder">Live a Healthy Life</h1>
                <p class="lead mb-0">Read the latest posts from experts covering a variety of health topics and perspectives on medical news.
                   
                    </p>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="../../../assets/img/masshys.jpg"
                            alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">November 19, 2023</div>
                        <h2 class="card-title">Mass Hysteria: What It Is And How It Affects The Old Age Group</h2>
                        <p class="card-text">Mass hysteria is a social phenomenon characterised by clusters of symptoms that suggest a psychogenic disorder. It is also known as epidemic hysteria, mass psychogenic illness, and mass sociogenic illness.</p>
                        <a class="btn btn-primary" href="https://www.medicalnewstoday.com/articles/322607#Recent-instances-of-mass-hysteria" target="_blank">Read more →</a>
                    </div>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                    src="../../../assets/img/angchelitis.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">November 11, 2023</div>
                                <h2 class="card-title h4">Do You Know What’s Angular Cheilitis?</h2>
                                <p class="card-text">Angular cheilitis is also known as angular stomatitis or perleche. Angular cheilitis is often misdiagnosed as a cold sore. However, cold sores are a different condition brought on by the herpes simplex virus. Unlike cold sores, angular cheilitis does not spread easily.</p>
                                <a class="btn btn-primary" href="https://www.healthkart.com/connect/angular-cheilitis/" target="_blank">Read more →</a>
                            </div>
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                    src="../../../assets/img/mgo.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">October 26, 2023</div>
                                <h2 class="card-title h4">Why Do You Need To Incorporate Magnesium Oxide In Your Diet?</h2>
                                <p class="card-text">Magnesium is crucial for blood sugar regulation, nerve function, energy production, and DNA synthesis. It is available through food or supplements. The supplement variants include magnesium citrate, magnesium glycinate, and magnesium oxide. Magnesium oxide is widely used in supplements, either as standalone or in multivitamins.</p>
                                <a class="btn btn-primary" href="https://www.healthkart.com/connect/magnesium-oxide/" target="_blank">Read more →</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                    src="../../../assets/img/hair.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">October 1, 2023</div>
                                <h2 class="card-title h4">Which Type Of Hairline Do You Have?
                                </h2>
                                <p class="card-text">Both men and women have distinctive hairlines defined by factors like shape and height. Although each person’s hairline is unique, they often fit specific categories. Hairlines naturally change with age, but there are ways to alter them if desired. </p>
                                <a class="btn btn-primary" href="https://www.healthkart.com/connect/type-of-hairline/" target="_blank">Read more →</a>
                            </div>
                        </div>
                        <!-- Blog post-->
                        <div class="card mb-4">
                            <a href="#!"><img class="card-img-top"
                                    src="../../../assets/img/uti.jpg" alt="..." /></a>
                            <div class="card-body">
                                <div class="small text-muted">September 11, 2023</div>
                                <h2 class="card-title h4">UTI Symptoms In Men You Must Know About</h2>
                                <p class="card-text">When bacteria, often from the rectum or skin, get access to the bladder, kidneys, or tubes draining urine from the kidneys to the bladder, they may cause an infection known as a urinary tract infection (UTI). 

                                    In men, UTIs tend to increase in frequency with age but it is more common among the age of 24-55. UTI symptoms in men are more likely to become severe and extend to the kidneys and upper urinary tract. Surgery may be necessary in extreme circumstances. Now, let’s talk more about UTI in men in the article below.</p>
                                <a class="btn btn-primary" href="https://www.healthkart.com/connect/uti-symptoms-in-men/" target="_blank">Read more →</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination-->
                
            </div>
            <!-- Side widgets-->
            
                <!-- Categories widget-->
                
                <!-- Side widget-->
                
            </div>
        </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;  HealthManagementApp</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
